.about-wrapper>hr {
  height: 3px;
  color: #FF0022;
  background-color: #FF0022;
  box-shadow: 0px 0px 50px #FF0022;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-intro {
  width: 80vw;
  text-align: center;
}

.about-intro>h1 {
  margin-top: 10vh;
}

#jack {
  font-style: italic;
  color: #FF0022
}

.about-contents {
  width: 80vw;
  /* left: 100px; */
  margin-bottom: 100px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

section:nth-child(even) {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .about-intro>h1 {
    margin-top: 7vh;
  }

  
}

