.application-content {
  color: white;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
  padding: 0;
	margin: 0;
  margin-top: 60px;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  letter-spacing: .4em;
  text-align: center;
  text-justify: auto;
  text-shadow: 2px 2px #772D8B;
}

h2 {
  font-size: 2rem;
}

