.contact-container {
  background-color: #772D8B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-title>h1 {
  font-size: 2.5rem;
}

.col {
  width: 20vw;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  text-align: center;
}

.contact-hello {
  margin-left: 0px;
  padding-left: 5vw;
}

.contact-email {
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
}

.contact-social-media {
  margin-right: 0px;
  padding-right: 5vw;
}

.social-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.email {
  text-align: center;
  cursor: pointer;
}

.social {
  margin: 10px;
  margin-top: 30px;
}

.contact-end>h1 {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}